*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: lightblue;
}

#contenedor{
    width: 240px;
    background-color: white;
    margin: 40px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px #0000007f;
}

button{
    width: 80px;
    height: 30px;
    font-size: 14px;
}