*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: lightblue;
}

#contenedor{
    width: 400px;
    background-color: white;
    margin: 40px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px #0000007f;
}

textarea{
    width: 400px;
}

button{
    width: 80px;
    height: 30px;
    font-size: 14px;
    margin-left: 55px;
    margin-right: 55px;
}